
:root {

  /* main color schemes*/

  --bg: rgba(11, 29, 38, 1);
  --wei: rgba(255, 255, 255, 1);
  --accent: rgba(251, 215, 132, 1);
  --black: rgba(11, 9, 10, 1);
  --shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.2);
}


.landing-page {
  background-color: #0b090a;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding-top: 40px;
  padding-left: 40px;
}

.landing-page .overlap-wrapper {
  background-color: var(--black);
  width: 100%;
  height: 100%;
  box-shadow: var(--shadow);
}

.landing-page .overlap {
  position: relative;
  height: 4573px;
}

.landing-page .main {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 1px;
  object-fit: cover;
}

.landing-page .content {
  align-items: flex-start;
  gap: 25px;
  top: 287px;
  left: 500px;
  display: inline-flex;
  flex-direction: column;
  position: absolute;
}

.landing-page .group {
  position: relative;
  width: 282px;
  height: 23px;
}

.landing-page .sonic-bliss {
  position: absolute;
  top: 0;
  left: 104px;
  font-family: "Libre Bodoni", Helvetica;
  font-weight: 700;
  color: var(--accent);
  font-size: 18px;
  letter-spacing: 6px;
  line-height: normal;
}

.landing-page .div {
  position: absolute;
  width: 72px;
  height: 2px;
  top: 10px;
  left: 0;
  background-color: var(--accent);
}

.landing-page .immerse-yourself-in {
  position: relative;
  width: 950px;
  font-family: "Libre Bodoni", Helvetica;
  font-weight: 400;
  color: var(--wei);
  font-size: 88px;
  letter-spacing: 0;
  line-height: 100px;
}

.landing-page .group-2 {
  position: relative;
  width: 128px;
  height: 24px;
}

.landing-page .equipment {
  top: 1px;
  color: #ffffff;
  position: absolute;
  left: 0;
  font-family: "Libre Bodoni", Helvetica;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .icon-navigation {
  position: absolute;
  width: 16px;
  height: 24px;
  top: 0;
  left: 110px;
}

.landing-page .BG-content {
  position: absolute;
  width: 1920px;
  height: 700px;
  top: 1200px;
  left: 0;
  background: linear-gradient(180deg, rgba(0.46, 12.76, 18.91, 0) 0%, rgb(9.36, 10.77, 11.48) 72.28%);
}

.landing-page .social {
  position: absolute;
  width: 27px;
  height: 173px;
  top: 359px;
  left: 77px;
}

.landing-page .slider {
  position: absolute;
  width: 3px;
  height: 240px;
  top: 326px;
  left: 1837px;
  box-shadow: var(--shadow);
}

.landing-page .overlap-group-wrapper {
  height: 240px;
}

.landing-page .overlap-group {
  position: relative;
  width: 3px;
  height: 240px;
}

.landing-page .slider-BG {
  position: absolute;
  width: 3px;
  height: 240px;
  top: 0;
  left: 0;
  background-color: var(--wei);
  opacity: 0.5;
}

.landing-page .slider-indicator {
  position: absolute;
  width: 3px;
  height: 60px;
  top: 0;
  left: 0;
  background-color: var(--wei);
}

.landing-page .navbar {
  position: absolute;
  width: 1760px;
  height: 25px;
  top: 64px;
  left: 62px;
}

.landing-page .blog {
  left: 959px;
  color: #ffffff99;
  position: absolute;
  top: -6px;
  font-family: "Libre Bodoni", Helvetica;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper {
  left: 1038px;
  color: #ffffff99;
  position: absolute;
  top: -6px;
  font-family: "Libre Bodoni", Helvetica;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-2 {
  left: 876px;
  color: #ffffff99;
  position: absolute;
  top: -6px;
  font-family: "Libre Bodoni", Helvetica;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-3 {
  left: 790px;
  color: #ffffff;
  position: absolute;
  top: -6px;
  font-family: "Libre Bodoni", Helvetica;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .account {
  position: absolute;
  width: 113px;
  height: 27px;
  top: -2px;
  left: 1634px;
}

.landing-page .text-wrapper-4 {
  position: absolute;
  top: 2px;
  left: 32px;
  font-family: "Libre Bodoni", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .icons-general-cart {
  position: absolute;
  width: 24px;
  height: 22px;
  top: 2px;
  left: 0;
}

.landing-page .content-2 {
  height: 3108px;
  align-items: center;
  gap: 194px;
  top: 1465px;
  left: 256px;
  overflow: hidden;
  display: inline-flex;
  flex-direction: column;
  position: absolute;
}

.landing-page .content-3 {
  position: relative;
  width: 1462px;
  height: 720px;
}

.landing-page .overlap-group-2 {
  position: absolute;
  width: 782px;
  height: 510px;
  top: 37px;
  left: 0;
}

.landing-page .equipment-2 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.1;
  font-family: "Libre Bodoni", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 240px;
  letter-spacing: 0;
  line-height: 240px;
  white-space: nowrap;
}

.landing-page .content-4 {
  align-items: flex-start;
  gap: 27px;
  top: 138px;
  left: 150px;
  display: inline-flex;
  flex-direction: column;
  position: absolute;
}

.landing-page .tagline {
  position: relative;
  width: 278px;
  height: 27px;
}

.landing-page .text-wrapper-5 {
  position: absolute;
  top: 0;
  left: 96px;
  font-family: "Poppins", Helvetica;
  font-weight: 800;
  color: var(--accent);
  font-size: 18px;
  letter-spacing: 6px;
  line-height: normal;
}

.landing-page .text-wrapper-6 {
  position: relative;
  width: 555px;
  font-family: "Libre Bodoni", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 65px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .p {
  position: relative;
  width: 632px;
  font-family: "Libre Bodoni", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 32px;
}

.landing-page .more {
  position: relative;
  width: 129px;
  height: 23px;
}

.landing-page .equipment-3 {
  top: 0;
  color: var(--accent);
  position: absolute;
  left: 0;
  font-family: "Libre Bodoni", Helvetica;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .img {
  position: absolute;
  width: 24px;
  height: 16px;
  top: 3px;
  left: 103px;
}

.landing-page .element {
  position: absolute;
  width: 678px;
  height: 720px;
  top: 0;
  left: 784px;
  object-fit: cover;
}

.landing-page .element-2 {
  position: absolute;
  width: 611px;
  height: 751px;
  top: -15px;
  left: -22px;
}

.landing-page .overlap-2 {
  position: absolute;
  width: 782px;
  height: 547px;
  top: 37px;
  left: 680px;
}

.landing-page .content-5 {
  align-items: flex-start;
  gap: 27px;
  top: 100px;
  left: 150px;
  display: inline-flex;
  flex-direction: column;
  position: absolute;
}

.landing-page .tagline-2 {
  position: relative;
  width: 452px;
  height: 23px;
}

.landing-page .explore-our-features {
  position: absolute;
  top: 0;
  left: 96px;
  font-family: "Libre Bodoni", Helvetica;
  font-weight: 700;
  color: var(--accent);
  font-size: 18px;
  letter-spacing: 6px;
  line-height: normal;
}

.landing-page .text-wrapper-7 {
  position: relative;
  width: 555px;
  font-family: "Libre Bodoni", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .tech-specs-at-a {
  position: relative;
  width: 632px;
  font-family: "Libre Bodoni", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 32px;
}

.landing-page .span {
  font-weight: 700;
}

.landing-page .text-wrapper-8 {
  font-family: "Libre Bodoni", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 32px;
}

.landing-page .overlap-3 {
  position: absolute;
  width: 782px;
  height: 534px;
  top: 37px;
  left: 0;
}

.landing-page .content-6 {
  align-items: flex-start;
  gap: 27px;
  top: 113px;
  left: 150px;
  display: inline-flex;
  flex-direction: column;
  position: absolute;
}

.landing-page .tagline-3 {
  position: relative;
  width: 562px;
  height: 27px;
}

.landing-page .to-start-print-out {
  position: relative;
  width: 632px;
  font-family: "Libre Bodoni", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 23px;
  letter-spacing: 0;
  line-height: 32px;
}

.landing-page .element-3 {
  position: absolute;
  width: 678px;
  height: 720px;
  top: 0;
  left: 784px;
}

.landing-page .footer {
  position: relative;
  width: 1524px;
  height: 280px;
  margin-right: -4px;
  background-color: transparent;
}

.landing-page .logo {
  position: absolute;
  width: 114px;
  height: 53px;
  top: 0;
  left: 0;
}

.landing-page .b-EATS {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: var(--wei);
  font-size: 35px;
  letter-spacing: 0.35px;
  line-height: normal;
}

.landing-page .text-wrapper-9 {
  position: absolute;
  width: 303px;
  top: 62px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 21px;
  letter-spacing: 0;
  line-height: 32px;
}

.landing-page .links {
  position: absolute;
  width: 157px;
  height: 280px;
  top: 0;
  left: 896px;
}

.landing-page .text-wrapper-10 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: var(--accent);
  font-size: 24px;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.landing-page .text-wrapper-11 {
  position: absolute;
  top: 56px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.landing-page .text-wrapper-12 {
  position: absolute;
  top: 104px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.landing-page .text-wrapper-13 {
  position: absolute;
  top: 152px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.landing-page .text-wrapper-14 {
  position: absolute;
  top: 200px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.landing-page .text-wrapper-15 {
  position: absolute;
  top: 248px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.landing-page .links-2 {
  position: absolute;
  width: 231px;
  height: 280px;
  top: 0;
  left: 1301px;
}

.landing-page .text-wrapper-16 {
  position: absolute;
  top: 194px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.landing-page .copyright-sahil {
  position: absolute;
  top: 248px;
  left: 6px;
  opacity: 0.5;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.landing-page .favicon {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 64px;
  left: 92px;
  object-fit: cover;
}

.landing-page .polygon {
  position: absolute;
  width: 1919px;
  height: 1102px;
  top: 347px;
  left: 1px;
}

